<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="/static/assets/styles.css">
</head>
<body>
<main>
    <p class="msg" style="--x: 265px; --y: 191px;">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent ac
        tincidunt dui. Etiam vitae leo ut nisl dignissim vestibulum. Nullam non nisl id velit mollis maximus. Nunc
        pulvinar faucibus volutpat. Aliquam mollis arcu vitae sapien rutrum cursus. Nullam suscipit, ligula eget
        molestie fermentum, odio nunc lobortis urna, et eleifend dolor libero vel nunc. Integer vitae tincidunt nisl, id
        consequat mi. Vivamus vitae auctor justo. Aliquam rutrum cursus ipsum, ac pharetra diam pulvinar id. Integer
        feugiat finibus nulla, at dapibus eros malesuada ut.

        Donec eu commodo felis. Donec sagittis pulvinar lorem eget varius. Mauris bibendum ipsum ac turpis facilisis
        interdum. Aenean quis gravida magna, nec placerat sem. Duis sollicitudin in augue sit amet bibendum. Sed tortor
        dolor, gravida id sem eget, ullamcorper rhoncus quam. Nulla id lorem sed diam varius lacinia a quis nisl.

        Duis condimentum mauris vel pellentesque posuere. Proin finibus metus eget neque laoreet ornare. Vestibulum
        laoreet risus tortor, mattis mattis est lacinia quis. Curabitur eget nunc nisi. Quisque congue eleifend
        eleifend. Aliquam elementum non nisl ut euismod. Fusce gravida nisi orci, eget tincidunt massa semper lacinia.
        Ut scelerisque metus et rutrum posuere. Vestibulum a ex in tellus lobortis sagittis. Maecenas elementum, dolor
        ut dictum vehicula, arcu metus pretium magna, at convallis nibh diam quis ante. Nam at semper nulla. Aenean et
        venenatis purus, et rhoncus velit.

        Nulla euismod nunc id leo dapibus aliquet. Aliquam libero massa, hendrerit quis commodo id, egestas at ex.
        Vivamus tristique, velit sed convallis sodales, dolor tellus fringilla libero, quis facilisis massa nulla eu
        mauris. Donec laoreet, nulla ut interdum lobortis, eros elit ultricies felis, vel consectetur erat metus quis
        mauris. In imperdiet, quam at tincidunt sodales, magna lacus congue orci, id efficitur massa elit non magna.
        Vivamus nisi felis, feugiat vel facilisis ac, bibendum at purus. Maecenas non nunc porta, facilisis nibh sed,
        volutpat leo. Sed consectetur mauris ipsum, sit amet euismod erat suscipit ut. Vestibulum blandit pulvinar
        blandit. Etiam enim nunc, varius tempus urna et, fringilla posuere turpis. Duis tincidunt augue sit amet quam
        finibus vehicula. Sed dapibus lectus nec quam convallis vehicula. Nullam neque sem, sollicitudin vulputate
        varius et, dictum a risus. Nunc vehicula risus sed leo tempor dignissim.

        Sed maximus vulputate bibendum. Nulla a suscipit leo. In maximus lectus et dolor vehicula sodales. Suspendisse
        maximus molestie quam, nec egestas metus venenatis eu. Duis in ipsum lorem. Nunc posuere faucibus enim, vitae
        eleifend felis laoreet id. Fusce at est volutpat metus consequat rhoncus. Aenean pharetra orci vel cursus
        gravida. Ut ut sapien non enim imperdiet condimentum ut et metus. Integer scelerisque, nibh vel pretium
        malesuada, risus sem porttitor augue, in tristique elit neque a erat. Quisque dui ante, accumsan id commodo eu,
        cursus a nulla.</p>

    <p class="msg" style="--source: 5; --x: 400px; --y: 400px;">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent ac
        tincidunt dui. Etiam vitae leo ut nisl dignissim vestibulum. Nullam non nisl id velit mollis maximus. Nunc
        pulvinar faucibus volutpat. Aliquam mollis arcu vitae sapien rutrum cursus. Nullam suscipit, ligula eget
        molestie fermentum, odio nunc lobortis urna, et eleifend dolor libero vel nunc. Integer vitae tincidunt nisl, id
        consequat mi. Vivamus vitae auctor justo. Aliquam rutrum cursus ipsum, ac pharetra diam pulvinar id. Integer
        feugiat finibus nulla, at dapibus eros malesuada ut.
    </p>
    <p class="msg" style="--x: 100px; --y: 400px;">Lorem ipsum dolor sit amet, </p>
</main>
<script src="/static/client.js"></script>
</html>